## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [10]:
a = 12
b= 5
print(a, b)

12 5

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [14]:
type(a)
type(b)

int

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre = 'Robert Polanco'

5) Crear una variable que contenga un número complejo

In [5]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [17]:
pi = 3.1416
pi= round(pi, 4)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [32]:
var1 = 'True'
var2 = True
# no son lo mismo, una es un str, la otra un bool

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [19]:
print('La variable 1 es de tipo ', type(var1), ' y la variable 2 es de tipo ', type(var2))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
a = 5.5 + 4

11) Realizar una operación de suma de números complejos

In [21]:
a = 5 + 1j
b = 1 + 3j
print(a + b)

(6+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [23]:
c = a + 1.61
print(c)
b + 1.5

(6.61+1j)

(2.5+3j)

13) Realizar una operación de multiplicación

In [24]:
print(3 * 2)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [25]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [27]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [29]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [28]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
var1 = 'Buenos '
var2 = 'Aires'
print(var1 + var2)

Buenos Aires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
2 == '2'

# 2 es un int y '2' es un str

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [34]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
a = float('3.8')
#por que no se utilza ','  sino en '.' para separar los enteros de los decimales

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [48]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [50]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [52]:
2 + int('2')
#por esta sumando un int (entero) y un str
#si queremos realizar la operacion podemos transformarla con int(str)

4

In [53]:
float(2) + float('2')

4.0

In [54]:
int(2) + int('2')

4

In [56]:
str(2) + str('2')
#la operacion se estan sumando (concat) dos str, seria 'a' +'b' = 'ab'

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [71]:
'chao ' *2

'chao chao '